<html>
<head>              
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/style.css" rel="stylesheet">	
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

</head>

<body class="manufacturer_wrapper">
        <div ng-app="myApp" ng-controller="myCtrl" >
                <div class="right_content_block col-md-9">
                        <div class="alert alert-success" ng-show="sucess">
                                Bank added sucessfully
                                <p id="demo"></p>
                              </div>
                              <div class="alert alert-danger" ng-show="failuer">
                                Could not add Bank. Bank with same BankID exist. 
                              </div>      
                <h2> Add Bank </h2>
          <form>
                <span class="fields_design col-md-6">
                    <label>Bank ID</label>
                    <input type="text" value="Enter Resident ID"ng-model="bankID"/>
                </span>
                
                <span class="fields_design col-md-6">
                    <label>Bank Name</label>
                    <input type="text" value="Enter Bank Name"ng-model="name"/>
                </span>
                
                <span class="fields_design col-md-6">
                    <label>Coin balance</label>
                    <input type="text" value="Coin Balance"ng-model="coins"/>
                </span>
        
                <span class="fields_design col-md-6">
                        <label>Cash Balance</label>
                        <input type="text" value="Cash Balance"ng-model="cash"/>
                </span>
            
                <span class="fields_design col-md-6">
                    <label>Cash Currency</label>
                    <select name="cashCurrency" id="cashCurrency" ng-model="cashCurrency">
                        <option value="USD">USD</option>
                    </select>
                    <!-- <input type="text" value="Cash Currency"ng-model="cashCurrency"/>  -->
                </span>
                
                <div class="clearfix"></div>
                
                <!-- <div class="component">
                    <label>Composition</label>
                    <table class="normal_table">
                    <tr ng-repeat="m in Customers">
                        <td >{{m.components}}</td>
                        
                        <td ><input type="button" ng-click="Remove($index)" value="Remove" /></td>
                    </tr>
                    <tr>
                        <td ><input type="text" ng-model="components" /></td>
                        <td ><input type="button" ng-click="Add()" value="Add" /></td>
                    </tr>
                </table>
                </div> -->
                
                <!-- <div class="clearfix"></div> -->
                
                <div class="submit_block">
                    <input type="button" value="Submit" class="submit_btn_cmn"ng-click="Add()"/>
                </div>
            </form>
                </div>
        </div>
        
        
        </body>

<script>
var app = angular.module('myApp', []);
app.controller('myCtrl',['$scope','$http','$timeout','$q',function ($scope,$http,$timeout,$q) {
  
  $scope.sucess=false
  $scope.failuer=false
  $scope.transactionId="";
  $scope.index=""
  $scope.bankID="";
 $scope.bankIDup="";
 $scope.nameDup="";
 $scope.name="";
 $scope.cash="";
 $scope.coins="";
 $scope.cashCurrency="";
 $scope.Banks = []
 $scope.BanksResponse=[]
 $scope.coinValue = [];
 $scope.coinID=[];
 $scope.cashValue = [];
 $scope.cashID = [];
 var mySubStringCoin="";
 var mySubStringCash="";
  
  $scope.Add = function(){
 var bankinner = {}
 bankinner.bankID = $scope.bankID
 bankinner.name = $scope.name
 bankinner.cash = $scope.cash
 bankinner.coins = $scope.coins
 bankinner.cashCurrency =$scope.cashCurrency
 $scope.Banks.push(bankinner)
 $scope.message = "Product have been created sucessfully";
 $scope.setValue();

 $scope.bankIDup= $scope.bankID
 $scope.nameDup= $scope.name
 $scope.cashDup= $scope.cash
 $scope.coinsDup=$scope.coins
 $scope.cashCurrencyDup=$scope.cashCurrency
 $scope.bankID="";
 $scope.name="";
 $scope.cash="";
 $scope.coins="";
 $scope.cashCurrency="";
}

$scope.setValue=function() {
    var request={      
  "$class": "org.decentralized.energy.network.Bank",
  "bankID": $scope.bankID,
  "name": $scope.name,
  "coins": "resource:org.decentralized.energy.network.Coins#CO_"+$scope.bankID,
  "cash": "resource:org.decentralized.energy.network.Cash#CA_"+$scope.bankID
}


     var requestInfo = Request();
   
     data : requestInfo
 
  var res = $http.post('http://ec2-35-173-231-185.compute-1.amazonaws.com:3000/api/Bank',request).then(function successCallback(response){
           $scope.update_response=response;
           
           $scope.transactionId=$scope.update_response.data.transactionId
           $scope.addCoins();
       }, function errorCallback(response){
        $scope.failuer=true;
           console.log("POST-ing of data failed");
       });
}

$scope.addCoins = function() {
       var requestAddCoins={
         "$class": "org.decentralized.energy.network.Coins",
          "coinsID":"CO_" + $scope.bankIDup,
          "value":$scope.coinsDup,
          "ownerID":$scope.bankIDup,
          "ownerEntity":'Bank'
    };

    var requestInfo = Request();
     data : requestInfo
  var res = $http.post('http://ec2-35-173-231-185.compute-1.amazonaws.com:3000/api/Coins',requestAddCoins).then((function(data,status,
headers,config) {
console.log("success adding bank with id "+$scope.bankIDup+" to coins asset");
for(var i=0;i<data.data.length;i++){
$scope.BanksResponse.push(data.data[i]);
}
$scope.addCash();
}),(function(data,status,headers,config) {
    
   
}));
}

$scope.addCash = function() {
       var requestAddCash={
         "$class": "org.decentralized.energy.network.Cash",
          "cashID":"CA_" + $scope.bankIDup,
          "currency":$scope.cashCurrencyDup,
          "value":$scope.cashDup,
          "ownerID":$scope.bankIDup,
          "ownerEntity":'Bank'  
    };

    var requestInfo = Request();
     data : requestInfo
  var res = $http.post('http://ec2-35-173-231-185.compute-1.amazonaws.com:3000/api/Cash',requestAddCash).then((function(data,status,
headers,config) {
    console.log("success adding bank with id "+$scope.bankIDup+" to cash asset");
for(var i=0;i<data.data.length;i++){
$scope.BanksResponse.push(data.data[i]);
$scope.sucess=true;
}
$scope.sucess=true;
}),(function(data,status,headers,config) {
    $scope.failuer=true;

}));
}

function Request() {
 
  return {
 

  "$class": "org.decentralized.energy.network.Bank",
  "bankID": "",
  "name": "",
  "coins": "",
  "cash": "",
  }
  };
}]);
 
</script>
 
</html>