<html>
<head>              
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/style.css" rel="stylesheet">	
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
</head>


<body class="manufacturer_wrapper" ng-init="loadUtilityCompanies()">
        <div ng-app="myApp" ng-controller="myCtrl" >
            <div class="right_content_block col-md-9">
                <form>
                <h2>View Utility Companies </h2>
                <span class="fields_design col-md-6"></span>
                <div class="component">
                        <div>
                                <div class="col s12" >
                                <div style= "padding: 2%;""text-align: center;">
                                <table BORDER=1 BORDERCOLOR="#8fb2b9"style="height:100px; width: 100%">
                                    <thead style="background-color:white;"><tr>
                <!-- <tr class="thead-cols">           -->
                        <th class="bc"><label>ID</label></th>        
                        <th class="bc" ><label>Name</label></th>
                        <th class="bc"><label>Coins Balance</label></th>  
                        <th class="bc"><label>Energy Value</label></th>
                        <th class="bc"><label>Energy Units</label></th>
        
              </tr></thead>
              <tbody style="background-color:#b3c8cb;">
                    <tr ng-repeat="resident in Residents">
                            <tr ng-repeat="utility in Utility">
                            <td><div ng-show="Utility[$index]">{{utility.utilityID}}</div></td>           
                            <td><div ng-show="Utility[$index]">{{utility.name}}</div></td>            
                            <td><div ng-show="Utility[$index]">{{utility.coins}}</div></td>
                            <td><div ng-show="Utility[$index]">{{utility.energy}}</div></td>
                            <td><div ng-show="Utility[$index]">{{utility.energyUnits}}</div></td>
                    </tr>  
                    </tbody> 
              </table>
            </div>
        </div>
        </div>
        </span>
        </div>
        <div class="clearfix"></div>
        </form> 
        </div>
        </div>
        </body>
<script>
var app = angular.module('myApp', []);
app.controller('myCtrl',['$scope','$http','$timeout','$q',function ($scope,$http,$timeout,$q) {
  
  $scope.sucess=false
  $scope.transactionId="";
  $scope.index=""
 $scope.utilityID="";
 $scope.utilityIDup="";
 $scope.nameDup="";
 $scope.name="";
 $scope.coins="";
 $scope.energy="";
 $scope.energyUnits="";
 $scope.Utility = []
 $scope.UtilityResponse=[]
 $scope.coinID = [];
 $scope.coinValue = [];
 $scope.energyValue = [];
 $scope.energyID = [];
 var mySubStringCoin = "";
 var mySubStringEnergy = "";
 
$scope.loadUtilityCompanies = function() {
  var requestDisplay={
     "$class": "org.decentralized.energy.network.UtilityCompany",
    "utilityID": $scope.utilityID,
    "name": $scope.name,
    "coins": "resource:org.decentralized.energy.network.Coins#CO_"+$scope.utilityID,
    "energy": "resource:org.decentralized.energy.network.Energy#EN_"+$scope.utilityID
} 
    var requestInfo = Request();
     data : requestInfo
  var res = $http.get('http://ec2-35-173-231-185.compute-1.amazonaws.com:3000/api/UtilityCompany/',requestDisplay).then((function(data,status,
headers,config) {
console.log("success");
for(var i=0;i<data.data.length;i++){  
$scope.Utility.push(data.data[i]);
$scope.Utility[i].energyUnits = "Kwh";
}

for(var j=0;j<$scope.Utility.length;j++){
$scope.loadCoinValue(j);
$scope.loadEnergyValue(j);
}
}),(function(data,status,headers,config) {
   

}));

};
$scope.loadUtilityCompanies();

$scope.loadCoinValue = function(j)
{
    var result = $q.defer();
    setTimeout(result.resolve,$scope.Residents*100000);   
    var id = $scope.Utility[j].utilityID;
     
    var res = $http.get('http://ec2-35-173-231-185.compute-1.amazonaws.com:3000/api/Coins/CO_'+id).then(function successCallback(response) {
        result.resolve(response)
$scope.coinValue.push(response.data.value);
$scope.coinID.push(response.data.coinsID);

if($scope.Utility.length == $scope.coinValue.length)
{
    $scope.insertCoins();
}
return result.promise;
},(function(data,status,headers,config) {
alert( "No product with specified UUID");
}));
}
$scope.insertCoins = function()
{
    for(var m=0;m<$scope.Utility.length;m++){
         mySubStringCoin = $scope.Utility[m].coins.substring($scope.Utility[m].coins.lastIndexOf("#") + 1);
         
        if($scope.coinID[m] == mySubStringCoin)  
        {
      
        $scope.Utility[m].coins = $scope.coinValue[m];
        }
      }
    
}

$scope.loadEnergyValue = function(j)
{
    var result = $q.defer();
    setTimeout(result.resolve,$scope.Residents*100000);     
    var id = $scope.Utility[j].utilityID;
     
    var res = $http.get('http://ec2-35-173-231-185.compute-1.amazonaws.com:3000/api/Energy/EN_'+id).then(function successCallback(response) {
        result.resolve(response)
$scope.energyValue.push(response.data.value);
$scope.energyID.push(response.data.energyID);

if($scope.Utility.length == $scope.energyValue.length)
{
    $scope.insertEnergy();
}
return result.promise;
},(function(data,status,headers,config) {
alert( "No product with specified UUID");
}));

}
$scope.insertEnergy = function()
{
    for(var m=0;m<$scope.Utility.length;m++){
         mySubStringEnergy = $scope.Utility[m].energy.substring($scope.Utility[m].energy.lastIndexOf("#") + 1);
        if($scope.energyID[m] == mySubStringEnergy)  
        {
      
        $scope.Utility[m].energy = $scope.energyValue[m];
        }
      }
    
}
 
function Request() {
 
  return {
    "$class": "org.decentralized.energy.network.UtilityCompany",
    "utilityID": "",
    "name": "",
    "coins": "",
    "energy": ""
  
  }
  };
}]);
 
</script>
 
</html>
