<!DOCTYPE html>
<html>
	<head>
		<title>Track and Trace</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="https://rawgit.com/gdi2290/angular-websocket/v1.0.9/angular-websocket.js"></script>
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="css/style.css" rel="stylesheet">	
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	</head>

	<body>
	
	<div class="container-fluid">
	
		<!-- Header Section starts here-->
		<header class="header_bg">
			<div class="header_left"></div>
			<div class="header_right"></div>
			
			<div class="container">
				<div class="logo_pharma">
					<a href="#"><img src="images/logo.png" alt="logo"/></a>
				</div>
				
				<div class="banner_text_right">
					Blockchain for Business<br><b>WITH IBM BLOCKCHAIN</b>
				</div>
			</div>

		</header> 
		<!-- Header Section ends here-->
		
		<div class="wrapper">

		<!-- Banner Section starts here-->
		<div class="banner_track">
			<div class="container">TRACK & TRACE</div>
		</div>
		<!-- Banner Section ends here-->
		
		<!-- Content Section starts here-->
		<div class="content_track">
			<div class="container zero_padding">
				<div class="col-md-3 zero_padding">
					<div class="left_menu_items">
							<ul class="left_menu_track">
									<li class="item_track01" ><a href="index.html">Home</a></li>
									<li class="item_track02" ><a href="manufacturer.html">Manufacturer</a></li>
									<li class="item_track03" ><a href="distributor.html">Distributor</a></li>
									<li class="item_track04" ><a href="dealer.html">Dealer</a></li>
									<li class="item_track05" ><a href="hospital.html">Hospital</a></li>
									<li class="item_track06 active_track_left_menu"><a href="dashboard_page2.html">Dashboard</a></li>
							</ul>
					</div>
				</div>
				<div ng-app="myApp" ng-controller="myCtrl" class="col-md-9 zero_padding">
					<div class="right_content_track">
							<div style="text-align: center" class="alert alert-danger" ng-show="failure">
									Could not update data
								</div>
								<div style="text-align: center" class="alert alert-success" ng-show="success">
										SUCESSFULLY UPDATED PRODUCT STATUS
									</div>
									<div style="text-align: center" class="alert alert-danger" ng-show="failure_1">
											No product with specified uuid
										</div>
									
						<h4>Dashboard</h4>
						
						<div class="dashboard_block">
						
							<div class="search_dashboard_block">
								<form>
									<label>UUID</label>
									<input type="text" value="Enter Product ID Here" ng-model="uuid">
									<input type="button" value="Search" ng-click="search();">
								</form>
							</div>
							
							
							<div class="status_dashboard" ng-show="show">
							
							
								<div class="staus_01 staus_blue ">
									<div ng-class="{staus_blue_active: val>=1}">
									<div class="ticks">
										<img src="images/tick_01.png" alt="tick"/>
									</div>
									<div class="truck_icon" ng-show="M">
											<a href="#"><img src="images/vehicle.png" alt="van"/></a>
										   </div>
									<a class="receive_btn" href="#" ng-click="clickhere_M()">Received</a>
								</div>
								</div>
								
								
								
								<div class="staus_01 staus_yellow  ">
										<div ng-class="{staus_yellow_active: val>=2}">
									<div class="ticks">
										<img src="images/tick_02.png" alt="tick"/>
									</div>
									
									<div class="truck_icon" ng-show="D">
								    	<a href="#"><img src="images/vehicle.png" alt="van"/></a>
								   	</div>
								   	
									<a class="receive_btn" href="#" ng-click="clickhere_D()">Received</a>
									</div>
								</div>
								
								
								
								
								
								<div class="staus_01 staus_green ">
										<div ng-class="{staus_green_active: val>=3}">
									<div class="ticks">
										<img src="images/tick_03.png" alt="tick"/>
									</div>
									<div class="truck_icon" ng-show="W">
											<a href="#"><img src="images/vehicle.png" alt="van"/></a>
										   </div>
									<a class="receive_btn" href="#" ng-click="clickhere_W()">Received</a>
									</div>
								</div>
								
								
								
								
								
								<div class="staus_01 staus_pink ">
										<div ng-class="{staus_pink_active: val>=4}">
									<div class="ticks">
										<img src="images/tick_04.png" alt="tick"/>
									</div>
									<div class="truck_icon" ng-show="H">
											<a href="#"><img src="images/vehicle.png" alt="van"/></a>
										   </div>
									<a class="receive_btn" href="#" ng-click="clickhere_H()">Received</a>
								</div>
								</div>
							</div>
							
						</div>
						
					</div>
			  </div>
			</div>
		</div>
		<!-- Content Section ends here-->
		
		</div>
		<!-- Footer Section starts here-->
		<footer class="footer">©  copyright 2018</footer>
		<!-- Footer Section ends here-->
		
	</div>
	<script>

            var app =
            angular.module('myApp', []);
            
            
            app.controller('myCtrl',['$scope', '$http','$timeout', function ($scope, $http,$timeout) {
            $scope.D=true
			$scope.W=false
			$scope.H=false
            $scope.uuid=" "
			$scope.failure=false
			$scope.success=false
			$scope.success_1=false
			$scope.failure_1=false
			 
			$scope.shipmentStatus=" "
			 
			$scope.show=false
            
            $scope.names = ["High","Normal"];

			$scope.val=1
            
            $scope.url_shipment="https://track-and-trace-network.mybluemix.net/api/updateShipmentStatus";
            
            $scope.url_product="https://track-and-trace-network.mybluemix.net/api/updateProductStatus"
            
            $scope.class_shipment="com.cts.ipm.track.UpdateShipmentStatus"
            
            $scope.class_product="com.cts.ipm.track.UpdateProductStatus"
            
            
            $scope.ProductStatus=function(value){
            
            if(value=="TAMPERED"){
            
            api_call_product("TAMPERED",$scope.url_product,$scope.class_product)
            
            }
            
            else{
            
            api_call_product("IN_GOOD_CONDITION",$scope.url_product,$scope.class_product)
            
            }
            
            }
            
            function init (){
            $scope.tempertature_d=" ";
            $scope.tempertature_m=" ";
            $scope.tempertature_h=" ";
            $scope.tempertature_w=" ";
            console.log("my method");
			var websocket =new WebSocket("ws://track-and-trace-network.mybluemix.net");
			 
			websocket.addEventListener('open',evt =>doSocketOpen(evt));
			 
			websocket.addEventListener('close',evt =>doSocketClose(evt));
			 
			websocket.addEventListener('message',evt =>doSocketMessage(evt));
            
            }
			function doSocketClose(evt) {
			 
			 console.log('Close.');
			  
			 }
			  
			 // Transaction has taken place
			  
			 // Update table and chart
			  
			 function doSocketMessage(evt) {
			  
			 let data =JSON.parse(evt.data);
			  
			 $scope.show=true;
			  
			 $scope.shipmentStatus=data.product.shipmentStatus
			 if($scope.shipmentStatus=="IN_PRODUCTION"){
				$scope.val=1
				$scope.D=true
				$scope.W=false
				$scope.H=false
			 }
			 else if($scope.shipmentStatus=="WITH_DISTRIBUTOR"){
				$scope.val=2
				$scope.D=false
				$scope.W=true
				$scope.H=false
			}
			else if($scope.shipmentStatus=="WITH_WHOLESALER"){
				$scope.val=3
				$scope.D=false
				$scope.W=false
				$scope.H=true
			}
			else if($scope.shipmentStatus=="WITH_HOSPITAL"){
				$scope.val=4
				$scope.D=false
				$scope.W=false
				$scope.H=false
			}
			  
			 }
			  
			 // FYI
			  
			 function doSocketOpen(evt) {
			  
			 console.log('Open.');
			  
			 }
			  
			 $scope.search=function(){
			  
			 init();
			  
			 var uuid =$scope.uuid
			  
			 var search_payload={"$class":"com.cts.ipm.track.searchProduct","uuid":uuid};
			  
			 var requestInfo =Request_search();
			  
			  
			  
			 $http.post("https://track-and-trace-network.mybluemix.net/api/searchProduct",search_payload).then((function(data,status,headers,config) {
			  
			$scope.success_1=true
			  
			 }),(function(data,status,headers,config) {
			  
			 $scope.failure_1=true
			  
			 }));
			  
			 }
			  
           
            
            $scope.clickhere_M=  function (){
              
            api_call("IN_PRODUCTION",$scope.url_shipment,$scope.class_shipment)
            }
            
            $scope.clickhere_D= function (){
                
            api_call("WITH_DISTRIBUTOR",$scope.url_shipment,$scope.class_shipment)
            
            }
            
            $scope.clickhere_W=  function (){
             
                    api_call("WITH_WHOLESALER",$scope.url_shipment,$scope.class_shipment)
                
            }
            
            $scope.clickhere_H= function (){
              
                    api_call("WITH_HOSPITAL",$scope.url_shipment,$scope.class_shipment)
                
               
            }
            
            
            
            function   api_call(status,url,class_value){
            
            var search_payload={"$class":class_value,"uuid":$scope.uuid,"status":status};
        
            $http.post(url,search_payload).then((function(data,status,headers,config)
             {
       
            if($scope.tempertature_m!= undefined && $scope.tempertature_m!= " "){
                $scope.ProductStatus($scope.tempertature_m)
            }
            if($scope.tempertature_d!= undefined && $scope.tempertature_d!=" " ){
                    $scope.ProductStatus($scope.tempertature_d)
                }
                if($scope.tempertature_w!= undefined && $scope.tempertature_w!= " "){
                    $scope.ProductStatus($scope.tempertature_w)
                }
                 
            
             if($scope.tempertature_h!= undefined && $scope.tempertature_h!= " "){
                    $scope.ProductStatus($scope.tempertature_h)
                }
            }),(function(data,status, headers,config) {
                var error_m=JSON.stringify({data:data})
				$scope.failure=true
            
            }));
            
            }
             function   api_call_product(status,url,class_value){
            
            var search_payload={"$class":class_value,"uuid":$scope.uuid,"status":status};
        
            $http.post(url,search_payload).then((function(data,status,headers,config)
             {
			
            $scope.success=true
            }),(function(data,status, headers,config) {
                var error_m=JSON.stringify({data:data})
				$scope.failure=true
            
            }));
            
            }
            
            function Request_search() {
			 
			 return {
			  
			 "Request" : {
			  
			 "$class":"com.cts.ipm.track.CreateProduct",
			  
			 "uuid":""
			  
			 }
			  
			 }
			  
			 };
            
            }]); 
            
            
            </script>
	</body>

</html>
